* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI";
}

body {
  background-color: #f3f4f6;
  color: #333;
}
.note-form {
  background: white;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  max-width: 600px;
  margin: 0 auto 40px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.note-form input,
.note-form textarea {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.note-form button {
  align-self: flex-start;
  padding: 8px 20px;
  background-color: #20232a;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.note-item {
  background: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
}

.note-item h3 {
  margin-bottom: 10px;
}

.note-item p {
  color: #444;
}
